* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
}

.promo {
    width: 100%;
    height: 1080px; /* Пример высоты контейнера */
    background-color: black; /* Цвет фона (серый в данном случае) */
}

.container {
    width: 1200px; /* Ширина контейнера слайдера */
    margin: 0 auto; /* Центрирование контейнера */
    overflow: hidden; /* Скрытие выходящих за пределы контейнера элементов */
    position: relative; /* Позиционирование для кнопок переключения */
}

.cards {
    display: flex; /* Размещение слайдов в строку */
    transition: transform 0.5s ease; /* Плавное изменение положения слайдов */
    gap: 75px;
    margin-top: 60px;
}

.card {
    padding: 10px; /* Внутренние отступы для карточек */
    min-width: 350px;
    height: 400px;
    box-sizing: border-box;
    background-color: #1E1E1E;
    justify-content: space-between;
    border-radius: 10px; 
}

.controls {
    position: absolute; /* Позиционирование кнопок */
    bottom: 10px; /* Отступ от нижней границы */
    left: 50%; /* Выравнивание по центру горизонтально */
    transform: translateX(-50%); /* Центрирование относительно родительского элемента */
}

.control-button {
    background-color: #f0f0f0; /* Цвет фона кнопок */
    border: none; /* Удаление границ */
    padding: 8px 16px; /* Внутренние отступы */
    cursor: pointer; /* Изменение курсора при наведении */
    margin: 0 5px; /* Внешние отступы между кнопками */
}

.logo {
    margin: 0 auto;
    display: block;
}

.card__title {
    color: #FDE922;
    font-size: 18px;
    text-align: center; /* Выравнивание содержимого по центру */
    margin-top: 30px;
}

.card__body {
    margin-left: 35px;
    font-size: 15px;
    color: white;
    margin-top: 50px;
    display: flex;
    gap: 10px;
    flex-direction: column
}